a {
	text-decoration: none;
	color:white;
}
nav {
	clear:both;
	min-height:80px;
	margin:0;
	padding:0;
	width:100%;
	background: gray;
}

.nav {
	
	margin-left: 30%;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	list-style-type:none;
}
.nav li {
	display:inline-block;
	padding:15px;
}

li {
	list-style-type:none;
}

.bam {
	display:none;
}

.container {
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}

.button {
	margin-bottom: 80px;
}

.gone {
	background: red;
	font-size: 18px;
	font-weight: bold;
}

.toggle {
	margin-bottom: 80px;
}

.nyc {
	background-color: black;
	color: white;
	margin-bottom: 80px;
}
.nyc img {
	opacity: .2;
	-webkit-transition: all 4s ease;
	transition: all 4s ease;
}

.colorbox {
	text-align: center;
	font-family: sans-serif;
	margin-left: 35%;
	margin-bottom: 80px;
	width: 250px;
	height: 250px;
	border-radius: 18%;
	background-color: tomato;
}

.crazybox {
	margin-left: 30%;
	margin-bottom: 80px;
	width: 300px;
	height: 300px;
	/*border-radius: 18%*/;
	background-color: orange;
	-webkit-transition: all 4s ease;
	transition: all 4s ease;
}

.block {
    position: absolute;
    background-color: #b37254;
    left: 50px;
    width: 90px;
    height: 90px;
    margin: 5px;
  }


/*jQuery*/

.nav2 {
	background: pink;
}

.hide {
	display: none;
}

.hide div {
	display:none;
}

.backgroundcolor {
	background-color: yellow;
}

.backgroundcolor2 {
	background-color:#b0c4c9;
}

.bam2 {
	display:inline-block;
}

.value2color {
	background-color: #2bd223;
}

.value3color {
	background-color: #b8a392;

}

img.opacity {
	opacity: 1;
}

.colorboxchange {
	background-color: blue;
	color: white;
}

.magnify {
	width: 500px;
	height: 100px;
	background-color: green;
}

.multiply {
	margin-top: 10%;
	margin-bottom: 10%;
	display: inline-block;
}
.multiply div {
	display: inline-block;
}

.blockContain {
	margin-bottom: 10%;
}

.vail {
	opacity: .3;
}

.blue {
	text-align: center;
	background-color: #1488e9;
}





